# ---------- Android ----------
*.iml
.gradle/
build/
*/build/
local.properties
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ
.idea/
.idea/*
!.idea/.gitignore

# macOS
.DS_Store

# ---------- Python / Backend ----------
backend/venv/
venv/
__pycache__/
*.pyc

# ---------- Backend Runtime / Sensitive ----------
backend/storage/
backend/server_private.key
